<footer class="footer">
    <div class="container-footer">

        <!-- Thông tin doanh nghiệp -->
        <div class="footer-section">
            <img src="https://bizweb.dktcdn.net/100/436/596/themes/980306/assets/logo.png?1734244256858" alt="logo" height="60px" width="120px">
            <h4>HỘ KINH DOANH KICAP</h4>
            <p>Chứng nhận ĐKKD số: 01A8035150 do phòng TC-KH UBND quận Ba Đình cấp ngày 07/11/2023</p>
            <p>Địa chỉ: 38, ngõ 575 Kim Mã, Ba Đình, Hà Nội</p>
            <p>0369161095</p>
            <p>kicap.vn@gmail.com</p>
        </div>

        <!-- Chính sách khách hàng -->
        <div class="footer-section" style="padding-left: 10px">       
            <h4>CHÍNH SÁCH KHÁCH HÀNG</h4>
            <ul style="padding: 0;">
                <li><a href="">CHÍNH SÁCH BẢO HÀNH</a></li>
                <li><a href="">CHÍNH SÁCH KIỂM HÀNG</a></li>
                <li><a href="">CHÍNH SÁCH ĐỔI TRẢ HOÀN TIỀN</a></li>
                <li><a href="">CHÍNH SÁCH THANH TOANS</a></li>
                <li><a href="">CHÍNH SÁCH BẢO MẬT</a></li>
                <li><a href="">CHÍNH SÁCH VẬN CHUYỂN</a></li>
            </ul>
        </div>

        <!-- Đăng ký nhận tin -->
        <div class="footer-section">       
            <h4>ĐĂNG KÝ NHẬN TIN</h4>
            <p>Mua bàn phím cơ, keycap bộ, keycap lẻ, keycap resin. Bảo hành chính hãng. Ưu đãi khi mua online. Dịch vụ mods phím cơ uy tín, chất lượng.</p>        
            <form action="#">
                <input type="email" placeholder="Email của bạn" required>
                <button type="submit">ĐĂNG KÝ</button>
            </form>
            <div class="payments-icons">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>

        <!-- Liên kết mạng xã hội -->
        <div class="footer-section social-section" style="padding-left: 10px;">       
            <h4>LIÊN KẾT MẠNG XÃ HỘI</h4>
            <div class="social-icons">
                <a href="#"><img src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/facebook1_-1.png?1733027784713" alt="Facebook" width="40px" height="40px"></a>
                <a href="#"><img src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/youtube1_-1.png?1733027784713" alt="Youtube" width="40px" height="40px"></a>
                <a href="#"><img src="//bizweb.dktcdn.net/100/436/596/themes/834446/assets/shopee1.png?1733027784713" alt="Shoppe" width="40px" height="40px"></a>
            </div>
            <img src="#" alt="">
        </div>     
 
    </div>
</footer>
<!-- Copyright -->
<div class="footer-bottom">
    <p>&copy; Copyright 2021 | Kicap All Rights Reserved</p>
</div>